@page "/"
@page "/{Message}"
@using SistemaAcademicoApplication.Avisos.Queries
@using System.Security.Claims
@layout MainLayout
@inject IMediator _mediator
@inject IToastService _toastService
@inject ICurrentUserService _currentUserService
@attribute [Authorize]

<AuthorizeView Policy="@Policies.IsAdmin">

    <PageTitle>Administração - SistemaAcademico</PageTitle>

    @if (Avisos == null)
    {
        <br />
        <br />
        <br />
        <center>
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
        </center>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="titulo-card">
                    Quadro de avisos - Admin
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var aviso in Avisos)
                    {
                        <li class="list-group-item">
                            <p>@aviso.Titulo - @aviso.DataCriacao.ToString("dd-MM-yyyy")</p>
                            <p>@aviso.Texto</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</AuthorizeView>


<AuthorizeView Policy="@Policies.IsProfessor">

    <PageTitle>Professor - SistemaAcademico</PageTitle>

    @if (Avisos == null)
    {
        <br />
        <br />
        <br />
        <center>
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
        </center>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="titulo-card">
                    Quadro de avisos - Professor
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var aviso in Avisos)
                    {
                        <li class="list-group-item">
                            <p>@aviso.Titulo - @aviso.DataCriacao.ToString("dd-MM-yyyy")</p>
                            <p>@aviso.Texto</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</AuthorizeView>

<AuthorizeView Policy="@Policies.IsAluno">

    <PageTitle>Aluno - SistemaAcademico</PageTitle>

    @if (Avisos == null)
    {
        <br />
        <br />
        <br />
        <center>
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
        </center>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="titulo-card">
                    Quadro de avisos - Aluno
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var aviso in Avisos)
                    {
                        <li class="list-group-item">
                            <p>@aviso.Titulo - @aviso.DataCriacao.ToString("dd-MM-yyyy")</p>
                            <p>@aviso.Texto</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</AuthorizeView>

@code {
    [Parameter]
    public string Message { get; set; }

    private List<Aviso> Avisos;
    bool IsUserAuthenticated;
    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var usuarioLogado = await _currentUserService.GetUserNameAsync();

        var ultimosAvisos = await _mediator.Send(new ObterUltimosAvisosQuery { EmailUsuario = usuarioLogado });

        if (ultimosAvisos.Errors.Any())
        {
            _toastService.ShowInfo("Erro ao carregar os últimos avisos");
        }

        Avisos = ultimosAvisos.Result;

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (Message != null)
            {
                _toastService.ShowError(Message);
            }
        }
    }
}