@page "/"
@page "/{Message}"
@using SistemaAcademicoApplication.Avisos.Queries
@using System.Security.Claims
@layout MainLayout
@inject IMediator _mediator
@inject IToastService _toastService
@inject ICurrentUserService _currentUserService
@attribute [Authorize]


<Modal @ref="Modal" Title="Novo Aviso">
    <EditForm Model="@Aviso" OnValidSubmit="AddAvisoAsync">
        <div class="modal-body">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <InputText id="floatingNome" class="form-control" placeholder="Título" @bind-Value="@Aviso.Titulo" />
                    <label for="floatingNome">Título</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <InputTextArea rows="5" id="floatingtexto" class="form-control rounded-0" placeholder="Texto" @bind-Value="@Aviso.Texto" />
                    <label for="floatingtexto">Texto</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" @onclick="() => Aviso.IsSelectedUsuario = !Aviso.IsSelectedUsuario" disabled="@(disableUserCheck)" @onchange="CheckAviso" /> Apenas um usuário |
                    <input type="checkbox" @onclick="() => Aviso.IsSelectedGrupo = !Aviso.IsSelectedGrupo" disabled="@(disableGroupCheck)" @onchange="CheckAviso" /> Grupo de usuários |
                    <input type="checkbox" @onclick="() => Aviso.IsSelectedGrupoDisciplina = !Aviso.IsSelectedGrupoDisciplina" disabled="@(disableDisciplinaGroupCheck)" @onchange="CheckAviso" /> Todos de uma disciplina
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-outline-dark" @onclick="() => Modal.Close()">Voltar</a>
            <input type="submit" class="btn btn-outline-primary" value="Salvar" />
        </div>
    </EditForm>
</Modal>

<AuthorizeView Policy="@Policies.IsAdmin">

    <PageTitle>Administração - SistemaAcademico</PageTitle>

    @if (Avisos == null)
    {
        <br />
        <br />
        <br />
        <center>
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
        </center>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="titulo-card">
                    Quadro de avisos - Admin
                </div>
                <a href="javascript:void(0)" @onclick="() => Modal.Open()" title="Novo aviso"><span class="oi oi-plus"></span> Novo aviso</a>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var aviso in Avisos)
                    {
                        <li class="list-group-item">
                            <p>@aviso.Titulo - @aviso.DataCriacao.ToString("dd-MM-yyyy")</p>
                            <p>@aviso.Texto</p>
                        </li>
                    }
                </ul>
            </div>
        </div>

        @if(PagedAvisos.Results.Count > 0)
                    {
                        <div class="card-body">
                            <div class="list-group">
                                @foreach (var aviso in PagedAvisos.Results)
                                {
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h4 class="mb-1">@aviso.Titulo</h4>
                                            <small class="text-muted">
                                                @(
                                                    ContarDias(aviso.DataHoraCriacao) == 0 ? "Hoje" : ContarDias(aviso.DataHoraCriacao) == 1
                                                    ? ContarDias(aviso.DataHoraCriacao) + " dia atrás" : ContarDias(aviso.DataHoraCriacao) + " dias atrás"
                                                 )
                                            </small>
                                        </div>
                                        <p class="mb-1">De: @aviso.UsuarioCriacao</p>
                                        <small class="text-muted" @onclick="() => SlideToggle(aviso.AvisoId.ToString())"><u>Clique para detalhes</u></small>
                                        <div class="infos" id="@aviso.AvisoId.ToString()" style="display: none;">
                                            <hr class="hr1"/>
                                            <div style="font-size: 15px;">@((MarkupString)aviso.Texto)</div>
                                            @if(!string.IsNullOrEmpty(aviso.CaminhoArquivo))
                                            {
                                                <hr class="hr1" />
                                                <small class="text-muted" @onclick="() => DownloadFileFromStream(aviso.CaminhoArquivo, aviso.NomeArquivo)" download="@aviso.NomeArquivo">
                                                    Para baixar o arquivo <u>clique aqui</u>
                                                </small>
                                            }
                                        </div>
                                    </a>
                                }
                            </div>
                            <div class="text-left">
                                <p>Mostrando @PagedAvisos.FisrtRowOnPage até @PagedAvisos.LastRowOnPage de @PagedAvisos.RowCount registros</p>
                                <Paginador TotalPaginas="PagedAvisos.PageCount" PaginaAtual="PaginaAtual" OnIrPagina="OnIrPagina" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted" style="margin-left: 24px;">Nenhuma notificação disponível</p>
                    }
    }
</AuthorizeView>

<AuthorizeView Policy="@Policies.IsProfessor">

    <PageTitle>Professor - SistemaAcademico</PageTitle>

    @if (Avisos == null)
    {
        <br />
        <br />
        <br />
        <center>
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
        </center>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="titulo-card">
                    Quadro de avisos - Professor
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var aviso in Avisos)
                    {
                        <li class="list-group-item">
                            <p>@aviso.Titulo - @aviso.DataCriacao.ToString("dd-MM-yyyy")</p>
                            <p>@aviso.Texto</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</AuthorizeView>

<AuthorizeView Policy="@Policies.IsAluno">

    <PageTitle>Aluno - SistemaAcademico</PageTitle>

    @if (Avisos == null)
    {
        <br />
        <br />
        <br />
        <center>
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
        </center>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="titulo-card">
                    Quadro de avisos - Aluno
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var aviso in Avisos)
                    {
                        <li class="list-group-item">
                            <p>@aviso.Titulo - @aviso.DataCriacao.ToString("dd-MM-yyyy")</p>
                            <p>@aviso.Texto</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</AuthorizeView>



@code {
    [Parameter]
    public string Message { get; set; }

    private Modal Modal { get; set; }

    private List<Aviso> Avisos;
    bool IsUserAuthenticated;
    ClaimsPrincipal user;
    Aviso Aviso;
    bool disableUserCheck;
    bool disableGroupCheck;
    bool disableDisciplinaGroupCheck;
    bool selectUser;
    bool selectGroup;
    bool selectDisciplineGroup;

    protected override async Task OnInitializedAsync()
    {
        Aviso = new Aviso();
        var usuarioLogado = await _currentUserService.GetUserNameAsync();

        var ultimosAvisos = await _mediator.Send(new ObterUltimosAvisosQuery { EmailUsuario = usuarioLogado });

        if (ultimosAvisos.Errors.Any())
        {
            _toastService.ShowInfo("Erro ao carregar os últimos avisos");
        }

        Avisos = ultimosAvisos.Result;

    }

    private void CheckAviso()
    {
        if (Aviso.IsSelectedUsuario && !Aviso.IsSelectedGrupo && !Aviso.IsSelectedGrupoDisciplina)
        {
            disableGroupCheck = true;
            disableDisciplinaGroupCheck = true;
            selectUser = true;
            selectDisciplineGroup = false;
            selectGroup = false;
        }
        else if (Aviso.IsSelectedGrupoDisciplina && !Aviso.IsSelectedUsuario && !Aviso.IsSelectedGrupo)
        {
            disableUserCheck = true;
            disableGroupCheck = true;
            selectDisciplineGroup = true;
            selectGroup = false;
            selectUser = false;
        }
        else if (Aviso.IsSelectedGrupo && !Aviso.IsSelectedUsuario && !Aviso.IsSelectedGrupoDisciplina)
        {
            disableUserCheck = true;
            disableDisciplinaGroupCheck = true;
            selectGroup = true;
            selectDisciplineGroup = false;
            selectUser = false;
        }
        else
        {
            disableDisciplinaGroupCheck = false;
            disableUserCheck = false;
            disableGroupCheck = false;
            selectUser = false;
            selectDisciplineGroup = false;
            selectGroup = false;
        }

        StateHasChanged();
    }

    private async Task AddAvisoAsync()
    {
        if (Aviso.IsSelectedUsuario)
        {

        }


    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (Message != null)
            {
                _toastService.ShowError(Message);
                StateHasChanged();
            }
        }
    }
}