@page "/users"
@inject IMediator _mediator
@inject IToastService _toastService
@layout MainLayout
@using Domain.Constantes
@using SistemaAcademicoApplication.Usuarios.Queries

<PageTitle>Usuários - SistemaAcademico</PageTitle>

@attribute [Authorize(Policy = Policies.IsAdmin)]

@if (Usuarios == null)
{
    <br />
    <br />
    <br />
    <center>
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
    </center>
}
else
{
    <div class="card">
        <div class="card-header">
            <div class="titulo-card">
                Usuários
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-space">
                        <label>Status</label>
                        <select class="form-select" @onchange="AlteraFiltro">
                            <option value="T">Todos</option>
                            @foreach (var item in ListaParametros.ListaTipoStatus)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <br />

            <DataTable Searchable="true">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Data de cadastro</th>
                        <th>
                            <a href="/Identity/Account/Register" title="Novo usuário">
                                <span class="oi oi-plus"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Usuarios.Count == 0)
                    {
                        <tr>
                            <td validn="top" colspan="5" class="dataTables_empty text-center">Nenhum registro disponível na tabela</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var user in Usuarios)
                        {
                            <tr>
                                <td>@user.NomeCompleto</td>
                                <td>@user.Email</td>
                                <td>@ImprimirStatusUsuario(user.Status)</td>
                                <td>@user.DataCriacao.ToString("dd/MM/yyyy")</td>
                                <td style="width: 6%;">
                                    <a href="/users/edit/@user.Id" title="Editar Usuário">
                                        <span class="oi oi-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="/users/remove/@user.Id" title="Inativar usuário">
                                        <span class="oi oi-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </DataTable>
        </div>
    </div>
}

@code {
    protected bool Exibir = false;
    protected List<ApplicationUser> UsuariosOriginal;
    protected List<ApplicationUser> Usuarios;
    string filter;

    protected override async Task OnInitializedAsync()
    {
        var usuariosList = await _mediator.Send(new ObterUsuariosQuery());
        UsuariosOriginal = usuariosList.Result;
        Usuarios = UsuariosOriginal;

    }

    protected void AlteraFiltro(ChangeEventArgs e)
    {
        filter = e.Value.ToString();
        if (filter.Equals("T"))
        {
            Usuarios = UsuariosOriginal;
        }
        else
        {
            Usuarios = UsuariosOriginal.Where(x => x.Status.Equals(filter)).ToList();
        }

        StateHasChanged();
    }

    private string ImprimirStatusUsuario(string status)
    {
        switch (status)
        {
            case Parametros.StatusAtivo:
                return DescricaoParametros.DescricaoStatusAtivo;
            case Parametros.StatusInativo:
                return DescricaoParametros.DescricaoStatusInativo;
            default:
                return status;
        }
    }
}
