@inject NavigationManager _navigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        var returnUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
                        <RedirectToLogin ReturnUrl="@returnUrl" />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Não encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Desculpe, não há nadan nesse endereço!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
