@page "/professors"
@page "/professors/{message}/{alertType}"
@using SistemaAcademicoApplication.Professores.Queries
@inject IMediator _mediator
@inject NavigationManager _navigationManager
@layout MainLayout

<PageTitle>Professores - SistemaAcademico</PageTitle>

@attribute [Authorize(Policy = Policies.IsAdmin)]


@if (!Exibir)
{
    <br />
    <br />
    <br />
    <center>
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class="align-content-center" />
    </center>
}
else
{
    <Alerta Exibir="@ExibirAlert" Message="@Message" AlertType="@AlertType" />
    <div class="card">
        <div class="card-header">
            <div class="titulo-card">
                Alunos
            </div>
        </div>
        <div class="card-body">
            <DataTable Searchable="true" Exibir="@Exibir">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Matrícula</th>
                        <th>Email</th>
                        <th>
                            <a href="" @onclick="GotoCreate" title="Novo professor">
                                <span class="oi oi-plus"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var professor in ProfessoresList)
                    {
                        <tr>
                            <td>@professor.Nome</td>
                            <td>@professor.Cpf.ToMask("###.###.###-##")</td>
                            <td>@professor.Matricula</td>
                            <td>@professor.Email</td>
                            <td style="width: 6%;">
                                <a href="/professors/edit/@professor.ProfessorId" title="Editar Professor">
                                    <span class="oi oi-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="/professors/remove/@professor.ProfessorId" title="Inativar Professor">
                                    <span class="oi oi-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </DataTable>
        </div>
    </div>
    
}


@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string AlertType { get; set; }

    List<Professor> ProfessoresList = new List<Professor>();
    bool Exibir;
    bool ExibirAlert;

    protected override async Task OnInitializedAsync()
    {
        ProfessoresList = (await _mediator.Send(new ObterProfessoresQuery())).Result;
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            if (Message != null)
                ExibirAlert = true;


            Exibir = true;
            this.StateHasChanged();
            await base.OnAfterRenderAsync(firstRender);
        }
    }

    protected void GotoCreate()
    {
        _navigationManager.NavigateTo("professors/add", true);
    }

}
